@import "values";

body {
  background-color: $bg;
  color: $fg;

  overflow: hidden;
}

#main-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
  filter: blur(15px) brightness(50%);
  transition: opacity 0.75s;
}

// Bottom info
.bottom-info {
  text-align: center;

  .thumb-container {
    img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .bottom-album {
    display: none;
  }
  .bottom-title {
    font-weight: bold;
  }
}

.directory-thumb {
  height: $albumThumbSize;
  width: $albumThumbSize;
  text-align: center;
  background-size: cover !important;
  background-position: center !important;
  transition: filter .3s;
  filter: drop-shadow(0 0px 8px black);

  .title {
    font-size: $albumThumbFontSize;
    color: $fg;
    letter-spacing: -1px;
    padding: 2px;
    background: rgba($bg, 0.8);
  }
}

.directory-thumb:hover {
  filter: drop-shadow(0 8px 16px black);
}
