@import 'values';

body {
  background-color: $bg;
  color: $fg;
}

#main-container {
  position: fixed;
  height: 85%;
  bottom: 10%;
  width: 100%;
  overflow-y: scroll;
}
#bot-container {
  position: fixed;
  height: 10%;
  bottom: 0;
  width: 100%;
}

// Bottom info
.bottom-info {
  text-align: center;

  .bottom-album {
    display: none;
  }
  .bottom-title {
    font-weight: bold;
  }

  .controls-container {
    div {
      display: inline-block;
    }
  }
}

.directory-thumb {
  height: $albumThumbSize;
  width: $albumThumbSize;
  text-align: center;
  background-size: cover !important;
  background-position: center !important;

  .title {
    font-size: $albumThumbFontSize;
    color: $fg;
    letter-spacing: -1px;
    padding: 2px;
    background: rgba($bg, 0.8);
  }
}
