@import "values";

body {
  background-color: $bg;
  color: $fg;
  
  overflow: hidden;
}

#main-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

// #side-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 20%;
//   height: 100vh;
// }

// Bottom info
.bottom-info {
  text-align: center;

  .thumb-container {
    img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .bottom-album {
    display: none;
  }
  .bottom-title {
    font-weight: bold;
  }
}

.directory-thumb {
  height: $albumThumbSize;
  width: $albumThumbSize;
  text-align: center;
  background-size: cover !important;
  background-position: center !important;

  .title {
    font-size: $albumThumbFontSize;
    color: $fg;
    letter-spacing: -1px;
    padding: 2px;
    background: rgba($bg, 0.8);
  }
}
