<div class="bottom-info">
    <div class="container">

        <div class="labels-container">

            <div class="bottom-title row">
                <div class="col-12">
                    <span class="bottom-title" id="info-title"></span>
                </div>
            </div>

            <div class="bottom-artist row">
                <div class="col-12">
                    <span id="info-artist"></span>
                </div>
            </div>

            <div class="bottom-album">
                <span class="bottom-album" id="info-album"></span>
            </div>

        </div>
    </div>
</div>