<div class="bottom-info h-100">
    <div class="container h-100">

        <div class="row h-100">

            <div class="thumb-container col-4 h-100">
                <img id="album-image" src="assets/no-pic.png">
            </div>

            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="labels-container col-6">
                            <div class="bottom-title row">
                                <div class="col-12">
                                    <span class="bottom-title" id="info-title"></span>
                                </div>
                            </div>

                            <div class="bottom-artist row">
                                <div class="col-12">
                                    <span id="info-artist"></span>
                                </div>
                            </div>

                            <div class="labels-container row">
                                <div class="col-12">
                                    <span class="bottom-album" id="info-album"></span>
                                </div>
                            </div>
                        </div>

                        <div class="controls-container col-6">
                            <span id="controls-prev">
                                <i class="material-icons">navigate_before</i>
                            </span>

                            <span id="controls-state">
                                <i class="material-icons" id="state-icon">pause</i>
                            </span>

                            <span id="controls-next">
                                <i class="material-icons">navigate_next</i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- TODO: Progress Bar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>