<div class="bottom-info h-100">
    <div class="row h-100">
        <div class="thumb-container col-12">
            <img id="album-image" src="assets/no-pic.png">
        </div>

        <div class="col-12">
            <span class="bottom-title" id="info-title"></span>
        </div>

        <div class="col-12">
            <span class="bottom-artist" id="info-artist"></span>
        </div>

        <div class="col-12">
            <span class="bottom-album" id="info-album"></span>
        </div>

        <div class="controls-container col-12">
            <span id="controls-prev">
                <i class="material-icons">navigate_before</i>
            </span>

            <span id="controls-state">
                <i class="material-icons" id="state-icon">pause</i>
            </span>

            <span id="controls-next">
                <i class="material-icons">navigate_next</i>
            </span>
        </div>
    </div>
</div>